body {
    background: rgb(159,212,212);
    background: linear-gradient(90deg, rgba(159,212,212,1) 49%, rgba(38,187,186,1) 100%);
    font-family: Itim, Ariel, sans-serif;
    margin: 0;
}

#header {
    /* background: rgb(159,212,212);
    background: linear-gradient(90deg, rgba(159,212,212,1) 49%, rgba(38,187,186,1) 100%); */
    text-align: center;
    align-items: center;
    padding: 10px;
    display:grid;
    grid-template-areas:
        'rocktext papertext scissorstext'
        'rockpic paperpic scissorspic';
}
#header > img {
    height: 150px;
    width: auto;
    margin: auto;
}

main > h2 {
    padding: 10px;
}
#choose-opponent {
    display:grid;

    align-items: center;
    grid-template-areas:
        'human-radio a-human-pic'
        'robot-radio a-robot-pic'
        'submit-opponent submit-opponent';
}
#submit-opponent {
    justify-self: right;

}
#choose-opponent > img {
    height: 200px;
    width: auto;
    margin: auto;
    padding: 15px;
}

body > nav {
    background: rgb(165, 209, 209);
    background: linear-gradient(90deg, rgba(165, 209, 209,1) 49%, rgba(8,140,139,1) 100%);
    text-align: center;
    padding: 10px;
    border: 1px inset rgb(196, 240, 240);

}

body > nav > a {
    color: black;
    text-decoration: none;
    border: 1px outset rgb(196, 240, 240);
    border-radius: 10px;
    padding: 5px;
}
main {
    width: 83%;
    margin: auto;
    background: rgb(196, 240, 240);
    height: 100%;
}
