<html>

<head>
    <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static', filename='images/favicon/apple-touch-icon.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename='images/favicon/favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='images/favicon/favicon-16x16.png')}}">
    <link rel="manifest" href="{{url_for('static', filename='images/favicon/site.webmanifest')}}">
    <link rel="mask-icon" href="{{url_for('static', filename='images/favicon/safari-pinned-tab.svg')}}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
    <title>{{ title }} || rock - paper - scissors</title>
</head>

<body>
    <hgroup id="header">
        <h1 id="rocktext">rock</h1>
        <h1 id="papertext">paper</h1>
        <h1 id="scissorstext">scissors</h1>
        <img id="rockpic" src="{{url_for('static', filename='images/rock.png')}}" alt="Rock symbol">
        <img id="paperpic" src="{{url_for('static', filename='images/paper.png')}}" alt="Paper symbol">
        <img id="scissorspic" src="{{url_for('static', filename='images/scissors.png')}}" alt="Scissors symbol">
    </hgroup>
    <nav>
        <a href="/">home</a>
        <a href="/opponent">play game</a>
    </nav>
    {% block content %}
    {% endblock %}
</body>

</html>