<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
    <title>{{ title }} - rock - paper - scissors</title>
</head>

<body>
    <hgroup id="header">
        <h1 id="rocktext">rock</h1>
        <h1 id="papertext">paper</h1>
        <h1 id="scissorstext">scissors</h1>
        <img id="rockpic" src="{{url_for('static', filename='images/rock.png')}}" alt="Rock symbol">
        <img id="paperpic" src="{{url_for('static', filename='images/paper.png')}}" alt="Paper symbol">
        <img id="scissorspic" src="{{url_for('static', filename='images/scissors.png')}}" alt="Scissors symbol">
    </hgroup>
    <nav>
        <a href="/">home</a>
        <a href="/mvp">mvp</a>
    </nav>



    {% block content %}{% endblock %}
</body>

</html>