{% extends 'base.html' %}

{% block content %}
<main>
    <h2>Rock Paper Scissors</h2>
    <h4>The game is played where players choose a move to represent the elements of the game; rock, paper and scissors. The outcome of the game is determined by 3 simple rules:</h4>
    <ul>
        <li> Rock wins against scissors.</li>
        <li>Scissors win against paper.</li>
        <li>Paper wins against rock.</li>
    </ul>
    <p>
        Choose "play game" above to start a game...
    </p>
</main>

{% endblock  %}