{% extends 'base.html' %}

{% block content %}



<h2>Player 1 - add your name and choose your move!</h2>

<form action="/choose" method="post">
    <label for="p1name">Name:</label>
    <input type="text" name="p1name" id="p1name">
    <label for="p1move">Select a move:</label>
    <select name="p1move" id="p1move">
        <option value="rock">Rock!</option>
        <option value="paper">Paper</option>
        <option value="scissors">Scissors</option>
    </select>
    <br><br>
    <hr>
    <br>
    <h2>Player 2 - add your name and choose your move!</h2>
    <br>
    <hr>
    <br>
    <label for="p2name">Name:</label>
    <input type="p2text" name="p2name" id="p2name">
    <label for="p2move">Select a move:</label>
    <select name="p2move" id="p2move">
        <option value="rock">Rock!</option>
        <option value="paper">Paper</option>
        <option value="scissors">Scissors</option>
    </select>
    <br>
    <br>
    <input type="submit">
</form>

{% endblock  %}