{% extends 'base.html' %}

{% block content %}

<main>
    <h2>Enter your name and choose your move:</h2>

    <form id="player-details" action="/create-player" method="post">
        <label for="player-name">Name:</label>
        <input type="text" name="player-name" id="player-name">
        <label for="player-move">Select a move:</label>
        <select name="player-move" id="player-move">
            <option value="rock">Rock!</option>
            <option value="paper">Paper</option>
            <option value="scissors">Scissors</option>
        </select>

        <br>
        <br>
        <input type="submit">
    </form>

</main>

{% endblock  %}